.dashboard-container {
    width: 100vw;
    height: 100vh;
    .dashboard-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        overflow: hidden;
    }
    .dashboard-router {
        width: 100%;
        padding: 20px 30px;
        min-width: 240px;
        @media (max-width: 570px) {
            padding: 35px 10px;
            display: flex;
            justify-content: center;
        }
    }
}