.dashboard-container .dashboard-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%; }

.dashboard-container .dashboard-router {
  width: 75%;
  padding: 20px 30px; }
