.dashboard-container {
  width: 100vw;
  height: 100vh; }
  .dashboard-container .dashboard-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden; }
  .dashboard-container .dashboard-router {
    width: 100%;
    padding: 20px 30px;
    min-width: 240px; }
    @media (max-width: 570px) {
      .dashboard-container .dashboard-router {
        padding: 35px 10px;
        display: flex;
        justify-content: center; } }
