.ant-list-item {
  display: flex;
  flex-direction: row-reverse; }
  .ant-list-item .ant-list-item-content {
    width: 50px;
    font-size: 22px;
    flex: unset;
    justify-content: center;
    align-items: center; }

@media (min-width: 550px) {
  .transfer-container {
    width: 95%; } }

.ant-modal {
  width: 50vw; }

.ant-pagination {
  margin-top: 10px; }

.do-transfers {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  align-items: flex-end; }
  @media (max-width: 550px) {
    .do-transfers {
      width: calc(100% - 30px); } }
  .do-transfers .ant-input {
    margin-bottom: 10px; }
  .do-transfers .email {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%; }
    .do-transfers .email .contacts {
      position: absolute;
      margin-left: 40px;
      height: 30px; }
      @media (max-width: 550px) {
        .do-transfers .email .contacts {
          margin-left: 35px; } }
  .do-transfers .btn-transfer {
    height: 30px;
    width: 120px; }

.btn-contact {
  width: 100% !important;
  margin-bottom: 10px; }

.ant-popover-title {
  text-align: center; }

.transfers-title {
  font-size: 20px;
  text-align: center; }
  @media (min-width: 741px) {
    .transfers-title {
      text-align: left; } }
  .transfers-title.transfers-list {
    margin-top: 20px; }
