.contacts-container {
    width: 100%;
    .ant-list-item-content-single {
        width: 100%;
    }
    .ant-list-item {
        flex-direction: row;
    }
    .ant-skeleton {
        margin-bottom: 20px !important;
    }
    .ant-list {
        min-width: 300px;
    }
    .add-contact {
        display: flex;
        align-items: center;
        width: 50vw;
        @media (max-width: 550px) {
            width: 100%;
            flex-direction: column;
            .ant-btn {
                width: 100%;
                margin-top: 10px !important;
            }
        }
        .ant-btn {
            margin: 0 20px;
        }
    }
}